= image_tag 'logo_transparent.png',{style:"max-width: 100%"}
.container
    = link_to "ログイン", new_login_session_path,{class:"btn btn-primary btn-block"}
    = link_to "初めての方はこちら", new_account_path,{class:"btn-default btn-block"}